/* 속성 선택자 : [] */
[disabled] {
  background-color: red;
}

/* input:not([disabled]) {
  background-color: blue;
} */

/* placeholder = "이름" -> 배경 오렌지 */
[placeholder="이름"] {
  background-color: orange;
}

/* placeholder 속성이 없는 것 -> 배경 파란색 */
input:not([placeholder]) {
  background-color: blue;
}

/* 속성값이 특정 단어를 포함하는 요소 ~= */
[class~='note'] {
  background-color: yellow;
}

/* 속성값이 특정 접두사로 시작하는 경우 ^= */
[href^='https'] {
  color: red;
}

/* 속성값이 특정 접미사로 끝나는 경우 $= */
/* 속성값이 특정 문자열을 포함하는 요소 *= */