.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 150px);
  /* 150px 150px 150px */
  gap: 10px
}

.item {
  border: 3px solid black;
  background-color: beige;
}

.item1 {
  background-color: aquamarine;
  grid-row:  1 / 3;
  /* grid-row: auto / span 2; */
}

.item3 {
  background-color: pink;
  grid-column:  3 / 7;
}

.item4 {
  background-color: cornflowerblue;
  grid-column: auto / span 4;
}